config_dir=`cd $(dirname ${BASH_SOURCE[0]});pwd`
## Devices
netif_dev="wlan0"
rosenpass_dev="rosenpass0"
usb_dev="usb0"
nat_out=0
nat_rosenpass=1
## Server IP assignment
IP_range=("192.168.4.1/24")

## Directories
#clientip_dir="<INSTALL_DIR>/clients_ip"
#clients_dir="<INSTALL_DIR>/clients"
#server_dir="<INSTALL_DIR>/server.rosenpass-secret"
#server_pub_dir="<INSTALL_DIR>/server.rosenpass-public"
clientip_dir="$config_dir/clients_ip"
clients_dir="$config_dir/clients"
server_dir="$config_dir/server.rosenpass-secret"
server_pub_dir="$config_dir/server.rosenpass-public"
listenip="\[::\]"
listenport=9999
listenport_wg=10000


## DDNS config(cloudflare)
ddns=0
zone_id=""
auth_key=""
auth_email=""
ddns_domain=""
subdomain_id=""
ddns_subdomain=""
log_dir=""

