[Unit]
Description=rp_autostartscript
After=network.target network-online.target

[Service]
Type=simple
ExecStart=<INSTALL_DIR>/assign_ip.sh

[Install]
WantedBy=multi-user.target
